tkinter as tk
tkinter ttk, filedialog, messagebox
numpy as np
json
matplotlib
matplotlib.colors as mcolors
matplotlib.figure Figure
matplotlib.backends.backend_tkagg FigureCanvasTkAgg
collections deque
os
colorsys
matplotlib.patheffects as path_effects
PIL Image, ImageTk, ImageFilter, ImageEnhance
requests
io
unicodedata
re
math
threading
time